################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.DS_Store
/code/GrupoExito.Android/obj
/.vs
/code/.vs/GrupoExito/v15
/code/GrupoExito.Cryptography/obj/Debug
/code/GrupoExito.DataAgent/obj
/code/GrupoExito.Entities/obj
/code/GrupoExito.iOS/obj/iPhone/Debug
/code/GrupoExito.Logic/obj
/code/GrupoExito.Utilities/obj
/code/GrupoExito.Models/obj
/code/GrupoExito.Models/bin
/code/packages
/code/GrupoExito.Utilities/bin/Debug/netstandard2.0
/code/GrupoExito.Logic/bin/Debug/netstandard2.0
/code/GrupoExito.iOS/bin/iPhoneSimulator
/code/GrupoExito.iOS/bin/iPhone/Debug
/code/GrupoExito.Entities/bin/Debug/netstandard2.0
/code/GrupoExito.DataAgent/bin/Debug/netstandard2.0
/code/GrupoExito.Cryptography/bin/Debug
/code/GrupoExito.Android/bin/Debug
/code/GrupoExito.iOS/obj
/code/GrupoExito.Cryptography/obj/Release
/code/GrupoExito.Test/obj/Debug/netcoreapp2.0
/code/GrupoExito.Test/obj
/code/GrupoExito.Test/bin/Debug/netcoreapp2.0
/code/GrupoExito.Android/bin/Release
/code/GrupoExito.DataAgent/bin/Release/netstandard2.0
/code/GrupoExito.Entities/bin/Release/netstandard2.0
/code/GrupoExito.Logic/bin/Release/netstandard2.0
/code/GrupoExito.Test/bin/Release/netcoreapp2.0
/code/GrupoExito.Utilities/bin/Release/netstandard2.0
/code/LibPaymentez.Android/bin/Debug
/code/LibPaymentez.Android/obj/Debug
/code/LibPaymentez.Android/obj/Debug
/code/LibPaymentez.Android/obj/Debug
/code/GrupoExito.Unit.Test/obj
/code/GrupoExito.Unit.Test/bin/Debug/netcoreapp2.1
/code/GrupoExito.Unit.Test/bin/Release/netcoreapp2.1
/code/GrupoExito.Android/Resources/drawable-hdpi
/obj/Debug/MonoAndroid90
code/.vs/GrupoExito/xs/sqlite3/storage.ide
code/.vs/GrupoExito/xs/sqlite3/storage.ide-shm
code/.vs/GrupoExito/xs/sqlite3/storage.ide-wal
code/.vs/GrupoExito/xs/sqlite3/db.lock
code/.vs/GrupoExito/xs/UserPrefs.xml
/code/GrupoExito.Models/obj/Debug/netstandard2.0
/code/GrupoExito.Models/obj
*/UserPrefs.xml
/code/GrupoExito.Android/packages/Bolts.1.4.0.1/lib/MonoAndroid403
/code/GrupoExito.Android/packages
/code/GrupoExito.iOS/bin/iPhone/Release
