<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Carulla</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleName</key>
	<string>Carulla</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.22</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://www.exito.com</key>
			<string></string>
			<key>https://appmarcasgrupoexito.azure-api.net</key>
			<string></string>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Permite a la aplicación Exito utilizar tu camara de tu dispositivo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permite a la aplicación Carulla utilizar tu camara de tu dispositivo</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Su ubicación actual se mostrará en el mapa y se usará para direcciones, resultados de búsqueda cercanos y tiempo estimado de viajes</string>
	<key>UIAppFonts</key>
	<array>
		<string>GillSans.ttc</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>GillSans.ttc</string>
		<string>Galano-Grotesque-Bold.otf</string>
		<string>Galano-Grotesque-Medium.otf</string>
		<string>Galano-Grotesque-Light.otf</string>
		<string>Gotham-Black.otf</string>
		<string>Gotham-Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>MainCarulla</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>Custom Property</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.carulla.appcompania</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1843760719083519</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tagmanager.c.com.carulla.appcompania</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.carulla.appcompania</string>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1843760719083519</string>
	<key>FacebookDisplayName</key>
	<string>App Carulla PROD</string>
	<key>LSApplicationQueriesSchemes</key>
	<string>waze</string>
	<key>CFBundleVersion</key>
	<string>28</string>
</dict>
</plist>
