<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite" version="2.5.0" targetFramework="xamarinios10" />
  <package id="Couchbase.Lite.Support.iOS" version="2.5.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.1" targetFramework="xamarinios10" />
  <package id="Naxam.Shimmer.iOS" version="1.0.2" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.1.32-alpha" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.5.184" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.5.184" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.5.184" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.5.184" targetFramework="xamarinios10" />
  <package id="Plugin.FirebasePushNotification" version="2.3.6" targetFramework="xamarinios10" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="xamarinios10" />
  <package id="SimpleInjector" version="4.6.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="xamarinios10" />
  <package id="Toast.iOS" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Validation" version="2.4.22" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.LatestVersion" version="1.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Azure.NotificationHubs.iOS" version="1.2.5.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.CoreKit.iOS" version="4.40.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.40.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.LoginKit.iOS" version="4.40.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.MarketingKit.iOS" version="4.40.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.MessengerShareKit.iOS" version="1.3.2.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.PlacesKit.iOS" version="4.40.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.ShareKit.iOS" version="4.40.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="5.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudMessaging" version="3.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="5.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="3.4.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Analytics" version="3.17.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Maps" version="3.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.TagManager" version="7.1.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.IQKeyboardManager" version="1.4.1" targetFramework="xamarinios10" />
  <package id="Xamarin.LiquidFloatingActionButton" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.SDWebImage" version="4.4.6" targetFramework="xamarinios10" />
</packages>