<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epm.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvvm.procedure.views.activities.TypePersonActivity"></activity>
        <activity android:name=".mvvm.procedure.views.activities.FrequentProceduresActivity"></activity>
        <activity android:name=".mvvm.turn.views.activities.DetailsOfTheTransactionActivity" />
        <activity
            android:name=".mvvm.comunidad.views.activities.RecuperationSubscriptionActitity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="ENABLE" />

        <activity
            android:name=".mvvm.procedure.views.activities.GuideProceduresAndRequirementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.turn.views.activities.CustomerServiceMenuOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.turn.views.activities.ChannelsOfAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.turn.views.activities.NearbyOfficesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.turn.views.activities.OfficeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.turn.views.activities.ShiftInformationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.NotificationCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.InformationOfInterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.RedAlertInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.UpdateSubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.DashboardComunityAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.AlertasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.TutorialActivity"
            android:label="@string/title_activity_tutorial1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvvm.comunidad.views.activities.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.EventosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.NoticiasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.DetalleNoticiasEventosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.OficinasDeAtencionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.EstacionesDeGasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.comunidad.views.activities.BaseMapRedAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SplashAppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="epmmovil" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.LineasDeAtencionActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="app.epm.com.utilities.helpers.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activities.EspacioPromocionalActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="86D800" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="25220aa130a5a4780fedfaae066ec81c3b2f9600" />

        <service
            android:name=".services.NotificationListenerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.epm.app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="25220aa130a5a4780fedfaae066ec81c3b2f9600" />
    </application>

</manifest>