<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.gov.ins.guardianes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".manager.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_gds"
        android:label="@string/app_name_short"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_gds"
        android:theme="@style/Theme.Home"
        tools:replace="android:name">
        <activity android:name=".presentation.view.notification.NotificationActivity"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".presentation.view.permissions_and_privacy.PermissionsPrivacyActivity"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.AdviceActivity"
            android:parentActivityName=".presentation.view.codeQr.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.PersonTypeActivity"
            android:parentActivityName=".presentation.view.codeQr.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.semaphone.SemaphoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.ExceptionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.ExceptionFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.mobilityStatus.StatusCodeQrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.diagnosticTip.DiagnosticTipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.survey.SymptomActivity"
            android:parentActivityName=".presentation.view.survey.StateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.DocumentPdfActivity"
            android:parentActivityName=".presentation.view.codeQr.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.AuthorizeActivity"
            android:parentActivityName=".presentation.view.codeQr.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.codeQr.TipStatusActivity"
            android:parentActivityName=".presentation.view.codeQr.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.user.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.smsCheck.CheckSmsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.add_participant.AddParticipantActivity"
            android:exported="false"
            android:parentActivityName=".presentation.view.participant.ParticipantsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.menu.CoronappAbout"
            android:exported="false"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.share_app.ShareAppActivity"
            android:exported="false"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.welcome.WelcomeIntro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="guardioes"
                    android:scheme="gdsapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="guardioesdasaude.org" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.splash.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.welcome.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.terms_use.TermsOfUseActivity"
            android:exported="false"
            android:label="@string/term"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Menu" />
        <activity
            android:name=".view.present.PresentActivity"
            android:exported="false"
            android:label="@string/tip_health"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.web.WebViewActivity"
            android:exported="false"
            android:label="@string/tip_health"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.survey.StateActivity"
            android:exported="false"
            android:parentActivityName=".presentation.view.participant.ParticipantsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.scheduled.ScheduleActivity"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.place.PlaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.healthTip.DetailHealthTipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.healthTip.HealthTipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.participant.ParticipantsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".presentation.view.bluetrace.BluetraceSendActivity"
            android:parentActivityName=".presentation.view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBap8O4eY3xDn_y_INjrybKkDsp3c6bDEw" />
    </application>

</manifest>